* {
   margin: 0;
   padding: 0;
   border: 0;
   overflow: hidden;
   box-sizing: border-box;
   color: white;
}

#testBtn {
   outline: 1px solid gray;
   padding: .6rem;
   margin: .4rem;
}

button {
   background-color: transparent;
   outline: 0;
}

button.active {
   /* https://www.cssmatic.com/box-shadow 
   box-shadow: inset 0px 0px 6px 2px rgba(0,0,0,1); */
   border: 3px dashed black;
}

/* reset over */

body {
   display: grid;
   min-height: 100vh;
   row-gap: 0;
   grid-template-areas:
      "n n n n n n n n n n n n"
      "l c c c c c c c r r r r"
      "l c c c c c c c r r r r"
      "l c c c c c c c r r r r"
      "f f f f f f f f f f f f";
   background-color: black;
}

nav {
   grid-area: n;
   background-color: palegreen;
}

#container {
   grid-area: c;
   margin: auto;
   cursor: crosshair;
   background-size: contain;
   background-color: #666666;
}

.swatches {
   grid-area: l;
   justify-self: start;
   display: flex;
   flex-direction: column;
   background-color: #666666;
   z-index: 10;
}

.btn-player, .btn-entity, .btn-utility, .btn-path {
   width: 3rem;
   height: 3rem;
   border-radius: 4px;
   margin: .5rem;
   cursor: pointer;
}

.white {background-color: white}
.yellow {background-color: yellow}
.purple {background-color: purple}
.green {background-color: green}
.blue {background-color: blue}
.orange {background-color: darkorange}

.btn-entity {
   background-color: tomato;
}

#ct, #t {
   border-radius: 3rem;
   background-color: wheat;
}

.btn-utility {
    width: 3.5rem;
    background-size: cover;
}

.panel {
   grid-area: r;
   justify-self: end;
   /*display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-around;*/
   background-color: #333333;
   z-index: 10;
}

.panel > div {
   border-bottom: 1px solid black;
}

#maps {
    width: 100%;
    background-color: green;
}

.btn-path > i {
   font-size: 2.5rem;
}

#smoke {background-image: url("images/utility/smoke.png")}
#molotov {background-image: url("images/utility/molotov.png")}
#flash {background-image: url("images/utility/flash.png")}
#grenade {background-image: url("images/utility/grenade.png")}
#decoy {background-image: url("images/utility/decoy.png")}

footer {
   grid-area: f;
   background-color: darkblue;
}
